.home{
    .featured-section{
        .title{
            p{
                text-align: center;
                font-weight: 400;
                font-size: 1.6rem;
            }
        }
        .featured-products{
            // background-color: red;
            padding: 10px;     
            display: flex;
            gap: 10px;

        }
    }
}